<script setup lang="ts">
    useHead({
        title: 'This is my homepage for Nuxt course',
        meta: [
            { name: 'description', content: 'My amazing site' }
        ],
        bodyAttrs: {
            class: 'test'
        },
        script: [ { children: 'console.log(\'Hello world\')' } ]
    })
</script>

<template>
    <div class="Main container py-3 mx-auto Main">
        hello
    </div>
</template>