<script setup>
const { sayHello } = useUtils();
sayHello();
</script>

<template>
    <div class="Main container py-3 mx-auto Main">
        <h1 class="text-teal-500">Profile</h1>
    </div>
</template>